email=svc-range-cicd@global.tesco.org
always-auth=true
_auth=c3ZjLXJhbmdlLWNpY2Q6cTFhVDd1MWRPOQ==
registry=https://nexus.ourtesco.com/repository/online-web-group/
npm set registry https://nexus.ourtesco.com/repository/online-web-group/